<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8"/>
    <title>Title</title>
  </head>
  <body>

    <div>
      <form method="post" th:action="@{user/add}">
        <label>Name:</label>
        <input type="text" name="userName">
        <label>Email:</label>
        <input type="email" name="email">
        <label>Password:</label>
        <input type="password" name="password">
        <label>Verify Password:</label>
        <input type="password" name="password">
      </form>
      <input type="submit" value="submit">
    </div>

  </body>
</html>